In [73]:
import datetime
from dateutil.relativedelta import relativedelta
import calendar
import pandas as pd

"""Obtenir la date du jour"""
today = datetime.date.today()
"""Extraire le mois de la date du jour"""
additional_months = ['Characteristic']
for additional_month_number in range(0, 12):
        today_mois_plus_1 = today + relativedelta(months=additional_month_number)
        nom_mois_plus_1 = calendar.month_name[today_mois_plus_1.month]
        additional_months.append(nom_mois_plus_1)
        additional_month_number = additional_month_number + 1
df = pd.DataFrame(columns = additional_months)
df

Empty DataFrame
Columns: [Characteristic, July, August, September, October, November, December, January, February, March, April, May, June]
Index: []

In [74]:
"""liste= {"Characteristic":"suivi_des_revenus",'July': 10,}
df.loc[len(df)]=liste
print(df)"""

'liste= {"Characteristic":"suivi_des_revenus",\'July\': 10,}\ndf.loc[len(df)]=liste\nprint(df)'

In [75]:
months = ["July", "August", "September", "October", "November", "December", 
          "January", "February", "March", "April", "May", "June"]
suivi_des_revenus=10
"""df = pd.DataFrame({'Characteristic':months, "suivi_des_revenus":[suivi_des_revenus] *len(months)})
df"""

'df = pd.DataFrame({\'Characteristic\':months, "suivi_des_revenus":[suivi_des_revenus] *len(months)})\ndf'

In [76]:
suivi_des_depenses=4
"""df = pd.DataFrame({'Characteristic':months, "suivi_des_revenus":[suivi_des_revenus] *len(months), "suivi_des_dépenses":[suivi_des_depenses] *len(months)})
df"""

'df = pd.DataFrame({\'Characteristic\':months, "suivi_des_revenus":[suivi_des_revenus] *len(months), "suivi_des_dépenses":[suivi_des_depenses] *len(months)})\ndf'

In [77]:
resume_financier = suivi_des_revenus - suivi_des_depenses

In [78]:
df = pd.DataFrame({'Characteristic':months, "suivi_des_revenus":[suivi_des_revenus] *len(months), "suivi_des_dépenses":[suivi_des_depenses] *len(months), "resume_financier":suivi_des_revenus - suivi_des_depenses})
df

   Characteristic  suivi_des_revenus  suivi_des_dépenses  resume_financier
0            July                 10                   4                 6
1          August                 10                   4                 6
2       September                 10                   4                 6
3         October                 10                   4                 6
4        November                 10                   4                 6
5        December                 10                   4                 6
6         January                 10                   4                 6
7        February                 10                   4                 6
8           March                 10                   4                 6
9           April                 10                   4                 6
10            May                 10                   4                 6
11           June                 10                   4                 6